body {
  background-color: #FFFFA5;
}

h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

form {
  text-align: center;
  margin: 0 auto;
}

li {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
